body{
	margin:0;
	padding:0;

}
.logo-header{
	/*border:1px solid #680000;*/
	width:80px;
	height:98%;
	
}
.logo{


   font-family: "Courier New";
   font-size: 25px;
   font-weight:bold;
   margin-top: 9px;
   margin-left:9px;
}
div.inner-header{
display:flex;
/*border:1px solid red;*/
height:48px;
width:100%;
margin:0;
/*background-color:#024972;*/
background-color:#fafafa;

}
span.blue{
	color:#12458c;
	/*font-size:35px;*/
}

.header-container{
	width:100%;
	margin:0;
 border-bottom: 1px solid #ddd;
 


}
div.search-container{
	width:65%;
	margin:auto;
	height:100%;
	/*background-color:#c3d3e0;*/
	
	
	

}
div.ask-questions-container{
	margin-left:40px;
	margin-right:40px;
	/* background-color:#024972;; */
	height:95%;	

}
div.inner-header div input{
	width:100%;
	height:80%;
	margin-top:5px;      
}
div.nav-rightSide{
	display:flex;
	width:30%;
	/*border:5px solid green;*/
	margin-left:20px;
}
div.tools-container{
	margin-right:70px;
	width:120px;
	/*background-color:#a9bdcc;*/
	height:95%;
	
	

}
span#tools-icon:after{
	position:relative;
	bottom:30px;
	left:84px;
	content: "\f0ad";  
    font-family: FontAwesome;
    font-size:20px;
}
/*input#tools{
	padding-right:12px;
}*/
div.sign-up-container{
	margin-right:23px;
	width:100px;
/*	height:20px;*/
margin-top:7px;
		border: 0px solid #f7f8f9;
	/*background-color:#a9bdcc;*/
	height:32px;
	padding:0;
	text-align:center;
	line-height:30px;
	font-weight:bold;

}
div.login-container{
	/*margin-left:auto;*/
	margin-right:16px;
	width:100px;
	/*background-color:#a9bdcc;*/
	height:94%;
	padding:0;
	text-align: center;
	border: 0px solid #f7f8f9;

}
div{
	/*border:0px solid #680000;*/
}
input{

	border: 0px solid #f7f8f9;
	margin: 0 auto;
	background-color:#c2cbd1;
	/*line-height:25px;*/
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;

}
a#sign-up-anchor{
	display:block;
	/*text-align:center;*/
	background-color:#c2cbd1;
	/*line-height:25px;*/
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	
	text-decoration:none;
	width:100%;
	height:100%;

}
}

input#search-box{
	background-color:white;
	border:0.8px solid #b6c9d8;
	padding-left:8px;
	
}
input#tools{
	/* background-color:#b6c9d8; */
	padding-right:70px;
	font-weight:500;
}
div.nav-rightSide input[type="button"]{
    font-size:14px;
    font-weight:bolder;
}
input#sign-up{
	/* background-color:#b6c9d8; */
}
input#login{
/* 	background-color:#b6c9d8; */
}
/*.connector{
	display:block;
	border:2px solid black;
	margin-top:%;
	width:60%;
	vertical-align:middle;
}*/
/*login form*/
div.login-box form {border: 3px solid #f1f1f1;
width:300px;
position:relative;
left:72%;}

div.container1 input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.login-button1 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container1 {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

footer {
  position:relative;
 	bottom:0;
 	left:0;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
}

div.footer-content{
	display:flex;
}
div .footer-right{
	margin-left:50px;
	
}

     ul.info{
        
       line-height:29px;
       margin-left: 10px;
       list-style-type: none;
     }
     ol.list{
     	list-style-type: none;
       /*overflow: hidden;
       margin: 0;
       padding: 0;*/
       color: white;
       }
     /*.list li{float: right;*/
      /* padding: 20px;
     /*  background-color: black;
       margin-left: -5px;*/
      /* direction: rtl;*/
      /* color: white;
     }*/
     /*a {
       color: white;
       text-decoration: none;
     }*/
     /*li:hover{background-color: gray;
       opacity: 60;
     }
     li:hover{text-decoration: underline;}
     .cover{
       margin-top: -15px;
       position: relative;
       text-align: center;
       color: white;
       margin-bottom: 13px;
     }*/
     .logo-footer{
     	font-family: "Courier New";
   font-size: 25px;
   font-weight:bold;
    margin-top: 9px;
   margin-left:9px;
     }


